<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=account-name;AccountKey=account-key" />-->
    <add key="APIKey" value="eyIl29KE6d" />
    <add key= "endpoint" value="http://www.pressmon.com/api?"/>
  </appSettings>
</configuration>